<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <title>Thư quán</title>
</head>
<body class="bg-body">
    <form action="/" method="post">
        <div class="card shadow card-login"> 
            <div class="card-body">
                <h2 class="card-title text-center text-primary m-4">Đăng nhập thư quán</h2>
                <div class="mb-3">
                    <label class="form-label" for="txtId">Mã số hoặc số điện thoại*</label>
                    <input class="form-control" type="text" id="txtId"/>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="pswd">Mật khẩu*</label>
                    <input class="form-control" type="password" id="pswd"/>
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-info text-white w-100">Đăng nhập</button>
                </div>
                <div class="mt-4 mb-3 text-center">
                    Bạn chưa có tài khoản?
                    <a class="text-info" href="#">Đăng kí</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
