@model web_qly_thuquan.Controllers.LoginController

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <title>Đăng nhập tài khoản</title>
</head>
<body class="bg-secondary">
    <div class="card shadow card-login">
        <div class="card-body">
            <h2 class="card-title text-center text-primary m-4">Đăng nhập thư quán</h2>
            <div class="mb-3">
                <label class="form-label text-black" for="txtId">Mã số sinh viên</label>
                <input type="text" id="txtId" class="form-control" />
            </div>
            <div class="mb-4">
                <label class="form-label text-black" for="txtPw">Mật khẩu</label>
                <input type="password" id="txtPw" class="form-control" />
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-info text-white w-100" onclick="login()">Đăng nhập</button>
            </div>
            <div class="text-center">
                Bạn chưa có tài khoản?
                <a class="text-info" href="@Url.Action("Index", "Register")">Đăng kí</a>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var id = sessionStorage.getItem("idRegister")
            var pw = sessionStorage.getItem("pwRegister")
            if (id) {
                document.getElementById("txtId").value = id
                sessionStorage.removeItem("idRegister")
            }
            if (pw) {
                document.getElementById("txtPw").value = pw
                sessionStorage.removeItem("pwRegister")
            }
        }

        function login() {
            var id = document.getElementById("txtId").value;
            var password = document.getElementById("txtPw").value;
            fetch('/Login/IsValidUser', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ id: id, password: password })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    alert("Đăng nhập thành công");
                    window.location.href = "/Home";
                }
                else {
                    alert("Lỗi: " + data.error);
                }
            })
            .catch(error => {
                alert("Lỗi hệ thống: " + error);
            })
        }
    </script>
</body>
</html>
