<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row gx-2 gy-3">
            <div class="col-1">
                <div class="box">

                </div>
            </div>
            <div class="col-11">
                <div class="box">

                </div>
            </div>
            <div class="col-1">
                <div class="box">

                </div>
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                <div class="box">

                </div>
            </div>
            <div class="col-1">
                <div class="box">

                </div>
            </div>
            <div class="col-1">
                <div class="box">

                </div>
            </div>
            <div class="col-1">
                <div class="box">

                </div>
            </div>
        </div>
    </div>
</body>
</html>
